@charset "UTF-8";
@font-face {
  font-family: "upadmin";
  src: url("fonts/upadmin.eot");
  src: url("fonts/upadmin.eot?#iefix") format("embedded-opentype"), url("fonts/upadmin.woff") format("woff"), url("fonts/upadmin.ttf") format("truetype"), url("fonts/upadmin.svg#upadmin") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "upadmin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "upadmin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-500px:before {
  content: "a";
}

.icon-adjust:before {
  content: "b";
}

.icon-adn:before {
  content: "c";
}

.icon-align-center:before {
  content: "d";
}

.icon-align-justify:before {
  content: "e";
}

.icon-align-left:before {
  content: "f";
}

.icon-align-right:before {
  content: "g";
}

.icon-amazon:before {
  content: "h";
}

.icon-ambulance:before {
  content: "i";
}

.icon-anchor:before {
  content: "j";
}

.icon-android:before {
  content: "k";
}

.icon-angellist:before {
  content: "l";
}

.icon-angle-double-down:before {
  content: "m";
}

.icon-angle-double-left:before {
  content: "n";
}

.icon-angle-double-right:before {
  content: "o";
}

.icon-angle-double-up:before {
  content: "p";
}

.icon-angle-down:before {
  content: "q";
}

.icon-angle-left:before {
  content: "r";
}

.icon-angle-right:before {
  content: "s";
}

.icon-angle-up:before {
  content: "t";
}

.icon-apple:before {
  content: "u";
}

.icon-archive:before {
  content: "v";
}

.icon-area-chart:before {
  content: "w";
}

.icon-arrow-circle-down:before {
  content: "x";
}

.icon-arrow-circle-left:before {
  content: "y";
}

.icon-arrow-circle-o-down:before {
  content: "z";
}

.icon-arrow-circle-o-left:before {
  content: "A";
}

.icon-arrow-circle-o-right:before {
  content: "B";
}

.icon-arrow-circle-o-up:before {
  content: "C";
}

.icon-arrow-circle-right:before {
  content: "D";
}

.icon-arrow-circle-up:before {
  content: "E";
}

.icon-arrow-down:before {
  content: "F";
}

.icon-arrow-left:before {
  content: "G";
}

.icon-arrow-right:before {
  content: "H";
}

.icon-arrow-up:before {
  content: "I";
}

.icon-arrows:before {
  content: "J";
}

.icon-arrows-alt:before {
  content: "K";
}

.icon-arrows-h:before {
  content: "L";
}

.icon-arrows-v:before {
  content: "M";
}

.icon-asterisk:before {
  content: "N";
}

.icon-at:before {
  content: "O";
}

.icon-backward:before {
  content: "P";
}

.icon-balance-scale:before {
  content: "Q";
}

.icon-ban:before {
  content: "R";
}

.icon-bar-chart:before {
  content: "S";
}

.icon-barcode:before {
  content: "T";
}

.icon-bars:before {
  content: "U";
}

.icon-battery-empty:before {
  content: "V";
}

.icon-battery-full:before {
  content: "W";
}

.icon-battery-half:before {
  content: "X";
}

.icon-battery-quarter:before {
  content: "Y";
}

.icon-battery-three-quarters:before {
  content: "Z";
}

.icon-bed:before {
  content: "0";
}

.icon-beer:before {
  content: "1";
}

.icon-behance:before {
  content: "2";
}

.icon-behance-square:before {
  content: "3";
}

.icon-bell:before {
  content: "4";
}

.icon-bell-o:before {
  content: "5";
}

.icon-bell-slash:before {
  content: "6";
}

.icon-bell-slash-o:before {
  content: "7";
}

.icon-bicycle:before {
  content: "8";
}

.icon-binoculars:before {
  content: "9";
}

.icon-birthday-cake:before {
  content: "!";
}

.icon-bitbucket:before {
  content: '"';
}

.icon-bitbucket-square:before {
  content: "#";
}

.icon-black-tie:before {
  content: "$";
}

.icon-bold:before {
  content: "%";
}

.icon-bolt:before {
  content: "&";
}

.icon-bomb:before {
  content: "'";
}

.icon-book:before {
  content: "(";
}

.icon-bookmark:before {
  content: ")";
}

.icon-bookmark-o:before {
  content: "*";
}

.icon-briefcase:before {
  content: "+";
}

.icon-btc:before {
  content: ",";
}

.icon-bug:before {
  content: "-";
}

.icon-building:before {
  content: ".";
}

.icon-building-o:before {
  content: "/";
}

.icon-bullhorn:before {
  content: ":";
}

.icon-bullseye:before {
  content: ";";
}

.icon-bus:before {
  content: "<";
}

.icon-buysellads:before {
  content: "=";
}

.icon-calculator:before {
  content: ">";
}

.icon-calendar:before {
  content: "?";
}

.icon-calendar-check-o:before {
  content: "@";
}

.icon-calendar-minus-o:before {
  content: "[";
}

.icon-calendar-o:before {
  content: "]";
}

.icon-calendar-plus-o:before {
  content: "^";
}

.icon-calendar-times-o:before {
  content: "_";
}

.icon-camera:before {
  content: "`";
}

.icon-camera-retro:before {
  content: "{";
}

.icon-car:before {
  content: "|";
}

.icon-caret-down:before {
  content: "}";
}

.icon-caret-left:before {
  content: "~";
}

.icon-caret-right:before {
  content: "\\";
}

.icon-caret-square-o-down:before {
  content: "";
}

.icon-caret-square-o-left:before {
  content: "";
}

.icon-caret-square-o-right:before {
  content: "";
}

.icon-caret-square-o-up:before {
  content: "";
}

.icon-caret-up:before {
  content: "";
}

.icon-cart-arrow-down:before {
  content: "";
}

.icon-cart-plus:before {
  content: "";
}

.icon-cc:before {
  content: "";
}

.icon-cc-amex:before {
  content: "";
}

.icon-cc-diners-club:before {
  content: "";
}

.icon-cc-discover:before {
  content: "";
}

.icon-cc-jcb:before {
  content: "";
}

.icon-cc-mastercard:before {
  content: "";
}

.icon-cc-paypal:before {
  content: "";
}

.icon-cc-stripe:before {
  content: "";
}

.icon-cc-visa:before {
  content: "";
}

.icon-certificate:before {
  content: "";
}

.icon-chain-broken:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-check-circle:before {
  content: "";
}

.icon-check-circle-o:before {
  content: "";
}

.icon-check-square:before {
  content: "";
}

.icon-check-square-o:before {
  content: "";
}

.icon-chevron-circle-down:before {
  content: "";
}

.icon-chevron-circle-left:before {
  content: "";
}

.icon-chevron-circle-right:before {
  content: "";
}

.icon-chevron-circle-up:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-child:before {
  content: "";
}

.icon-chrome:before {
  content: "";
}

.icon-circle:before {
  content: "";
}

.icon-circle-o:before {
  content: "";
}

.icon-circle-o-notch:before {
  content: "";
}

.icon-circle-thin:before {
  content: "";
}

.icon-clipboard:before {
  content: "";
}

.icon-clock-o:before {
  content: "";
}

.icon-clone:before {
  content: "";
}

.icon-cloud:before {
  content: "";
}

.icon-cloud-download:before {
  content: "";
}

.icon-cloud-upload:before {
  content: "";
}

.icon-code:before {
  content: "";
}

.icon-code-fork:before {
  content: "";
}

.icon-codepen:before {
  content: "";
}

.icon-coffee:before {
  content: "";
}

.icon-cog:before {
  content: "";
}

.icon-cogs:before {
  content: "";
}

.icon-columns:before {
  content: "";
}

.icon-comment:before {
  content: "";
}

.icon-comment-o:before {
  content: "";
}

.icon-commenting:before {
  content: "";
}

.icon-commenting-o:before {
  content: "";
}

.icon-comments:before {
  content: "";
}

.icon-comments-o:before {
  content: "";
}

.icon-compass:before {
  content: "";
}

.icon-compress:before {
  content: "";
}

.icon-connectdevelop:before {
  content: "";
}

.icon-contao:before {
  content: "";
}

.icon-copyright:before {
  content: "";
}

.icon-creative-commons:before {
  content: "";
}

.icon-credit-card:before {
  content: "";
}

.icon-crop:before {
  content: "";
}

.icon-crosshairs:before {
  content: "";
}

.icon-css3:before {
  content: "";
}

.icon-cube:before {
  content: "";
}

.icon-cubes:before {
  content: "";
}

.icon-cutlery:before {
  content: "";
}

.icon-dashcube:before {
  content: "";
}

.icon-database:before {
  content: "";
}

.icon-delicious:before {
  content: "";
}

.icon-desktop:before {
  content: "";
}

.icon-deviantart:before {
  content: "";
}

.icon-diamond:before {
  content: "";
}

.icon-digg:before {
  content: "";
}

.icon-dot-circle-o:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-dribbble:before {
  content: "";
}

.icon-dropbox:before {
  content: "";
}

.icon-drupal:before {
  content: "";
}

.icon-eject:before {
  content: "";
}

.icon-ellipsis-h:before {
  content: "";
}

.icon-ellipsis-v:before {
  content: "";
}

.icon-empire:before {
  content: "";
}

.icon-envelope:before {
  content: "";
}

.icon-envelope-o:before {
  content: "";
}

.icon-envelope-square:before {
  content: "";
}

.icon-eraser:before {
  content: "";
}

.icon-eur:before {
  content: "";
}

.icon-exchange:before {
  content: "";
}

.icon-exclamation:before {
  content: "";
}

.icon-exclamation-circle:before {
  content: "";
}

.icon-exclamation-triangle:before {
  content: "";
}

.icon-expand:before {
  content: "";
}

.icon-expeditedssl:before {
  content: "";
}

.icon-external-link:before {
  content: "";
}

.icon-external-link-square:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eye-slash:before {
  content: "";
}

.icon-eyedropper:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-facebook-official:before {
  content: "";
}

.icon-facebook-square:before {
  content: "";
}

.icon-fast-backward:before {
  content: "";
}

.icon-fast-forward:before {
  content: "";
}

.icon-fax:before {
  content: "";
}

.icon-female:before {
  content: "";
}

.icon-fighter-jet:before {
  content: "";
}

.icon-file:before {
  content: "";
}

.icon-file-archive-o:before {
  content: "";
}

.icon-file-audio-o:before {
  content: "";
}

.icon-file-code-o:before {
  content: "";
}

.icon-file-excel-o:before {
  content: "";
}

.icon-file-image-o:before {
  content: "";
}

.icon-file-o:before {
  content: "";
}

.icon-file-pdf-o:before {
  content: "";
}

.icon-file-powerpoint-o:before {
  content: "";
}

.icon-file-text:before {
  content: "";
}

.icon-file-video-o:before {
  content: "";
}

.icon-file-word-o:before {
  content: "";
}

.icon-files-o:before {
  content: "";
}

.icon-film:before {
  content: "";
}

.icon-filter:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-fire-extinguisher:before {
  content: "";
}

.icon-firefox:before {
  content: "";
}

.icon-flag:before {
  content: "";
}

.icon-flag-checkered:before {
  content: "";
}

.icon-flag-o:before {
  content: "";
}

.icon-flask:before {
  content: "";
}

.icon-flickr:before {
  content: "";
}

.icon-floppy-o:before {
  content: "";
}

.icon-folder:before {
  content: "";
}

.icon-folder-o:before {
  content: "";
}

.icon-folder-open:before {
  content: "";
}

.icon-folder-open-o:before {
  content: "";
}

.icon-font:before {
  content: "";
}

.icon-fonticons:before {
  content: "";
}

.icon-forumbee:before {
  content: "";
}

.icon-forward:before {
  content: "";
}

.icon-foursquare:before {
  content: "";
}

.icon-frown-o:before {
  content: "";
}

.icon-futbol-o:before {
  content: "";
}

.icon-gamepad:before {
  content: "";
}

.icon-gavel:before {
  content: "";
}

.icon-gbp:before {
  content: "";
}

.icon-genderless:before {
  content: "";
}

.icon-get-pocket:before {
  content: "";
}

.icon-gg:before {
  content: "";
}

.icon-gg-circle:before {
  content: "";
}

.icon-gift:before {
  content: "";
}

.icon-git:before {
  content: "";
}

.icon-git-square:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-github-alt:before {
  content: "";
}

.icon-github-square:before {
  content: "";
}

.icon-glass:before {
  content: "";
}

.icon-globe:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-google-plus:before {
  content: "";
}

.icon-google-plus-square:before {
  content: "";
}

.icon-google-wallet:before {
  content: "";
}

.icon-graduation-cap:before {
  content: "";
}

.icon-gratipay:before {
  content: "";
}

.icon-h-square:before {
  content: "";
}

.icon-hacker-news:before {
  content: "";
}

.icon-hand-lizard-o:before {
  content: "";
}

.icon-hand-o-down:before {
  content: "";
}

.icon-hand-o-left:before {
  content: "";
}

.icon-hand-o-right:before {
  content: "";
}

.icon-hand-o-up:before {
  content: "";
}

.icon-hand-paper-o:before {
  content: "";
}

.icon-hand-peace-o:before {
  content: "";
}

.icon-hand-pointer-o:before {
  content: "";
}

.icon-hand-rock-o:before {
  content: "";
}

.icon-hand-scissors-o:before {
  content: "";
}

.icon-hand-spock-o:before {
  content: "";
}

.icon-hdd-o:before {
  content: "";
}

.icon-header:before {
  content: "";
}

.icon-headphones:before {
  content: "";
}

.icon-heart:before {
  content: "";
}

.icon-heart-o:before {
  content: "";
}

.icon-heartbeat:before {
  content: "";
}

.icon-history:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-hospital-o:before {
  content: "";
}

.icon-hourglass:before {
  content: "";
}

.icon-hourglass-end:before {
  content: "";
}

.icon-hourglass-half:before {
  content: "";
}

.icon-hourglass-o:before {
  content: "";
}

.icon-hourglass-start:before {
  content: "";
}

.icon-houzz:before {
  content: "";
}

.icon-html5:before {
  content: "";
}

.icon-i-cursor:before {
  content: "";
}

.icon-ils:before {
  content: "";
}

.icon-inbox:before {
  content: "";
}

.icon-indent:before {
  content: "";
}

.icon-industry:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-info-circle:before {
  content: "";
}

.icon-inr:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-internet-explorer:before {
  content: "";
}

.icon-ioxhost:before {
  content: "";
}

.icon-italic:before {
  content: "";
}

.icon-joomla:before {
  content: "";
}

.icon-jpy:before {
  content: "";
}

.icon-jsfiddle:before {
  content: "";
}

.icon-key:before {
  content: "";
}

.icon-keyboard-o:before {
  content: "";
}

.icon-krw:before {
  content: "";
}

.icon-language:before {
  content: "";
}

.icon-laptop:before {
  content: "";
}

.icon-lastfm:before {
  content: "";
}

.icon-lastfm-square:before {
  content: "";
}

.icon-leaf:before {
  content: "";
}

.icon-leanpub:before {
  content: "";
}

.icon-lemon-o:before {
  content: "";
}

.icon-level-down:before {
  content: "";
}

.icon-level-up:before {
  content: "";
}

.icon-life-ring:before {
  content: "";
}

.icon-lightbulb-o:before {
  content: "";
}

.icon-line-chart:before {
  content: "";
}

.icon-link:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-linkedin-square:before {
  content: "";
}

.icon-linux:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-list-alt:before {
  content: "";
}

.icon-list-ol:before {
  content: "";
}

.icon-list-ul:before {
  content: "";
}

.icon-location-arrow:before {
  content: "";
}

.icon-lock:before {
  content: "";
}

.icon-long-arrow-down:before {
  content: "";
}

.icon-long-arrow-left:before {
  content: "";
}

.icon-long-arrow-right:before {
  content: "";
}

.icon-long-arrow-up:before {
  content: "";
}

.icon-magic:before {
  content: "";
}

.icon-magnet:before {
  content: "";
}

.icon-male:before {
  content: "";
}

.icon-map:before {
  content: "";
}

.icon-map-marker:before {
  content: "";
}

.icon-map-o:before {
  content: "";
}

.icon-map-pin:before {
  content: "";
}

.icon-map-signs:before {
  content: "";
}

.icon-mars:before {
  content: "";
}

.icon-mars-double:before {
  content: "";
}

.icon-mars-stroke:before {
  content: "";
}

.icon-mars-stroke-h:before {
  content: "";
}

.icon-mars-stroke-v:before {
  content: "";
}

.icon-maxcdn:before {
  content: "";
}

.icon-meanpath:before {
  content: "";
}

.icon-medium:before {
  content: "";
}

.icon-medkit:before {
  content: "";
}

.icon-meh-o:before {
  content: "";
}

.icon-mercury:before {
  content: "";
}

.icon-microphone:before {
  content: "";
}

.icon-microphone-slash:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-minus-circle:before {
  content: "";
}

.icon-minus-square:before {
  content: "";
}

.icon-minus-square-o:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-money:before {
  content: "";
}

.icon-moon-o:before {
  content: "";
}

.icon-motorcycle:before {
  content: "";
}

.icon-mouse-pointer:before {
  content: "";
}

.icon-music:before {
  content: "";
}

.icon-neuter:before {
  content: "";
}

.icon-newspaper-o:before {
  content: "";
}

.icon-object-group:before {
  content: "";
}

.icon-object-ungroup:before {
  content: "";
}

.icon-odnoklassniki:before {
  content: "";
}

.icon-odnoklassniki-square:before {
  content: "";
}

.icon-opencart:before {
  content: "";
}

.icon-openid:before {
  content: "";
}

.icon-opera:before {
  content: "";
}

.icon-optin-monster:before {
  content: "";
}

.icon-outdent:before {
  content: "";
}

.icon-pagelines:before {
  content: "";
}

.icon-paint-brush:before {
  content: "";
}

.icon-paper-plane:before {
  content: "";
}

.icon-paper-plane-o:before {
  content: "";
}

.icon-paperclip:before {
  content: "";
}

.icon-paragraph:before {
  content: "";
}

.icon-pause:before {
  content: "";
}

.icon-paw:before {
  content: "";
}

.icon-paypal:before {
  content: "";
}

.icon-pencil:before {
  content: "";
}

.icon-pencil-square:before {
  content: "";
}

.icon-pencil-square-o:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-phone-square:before {
  content: "";
}

.icon-picture-o:before {
  content: "";
}

.icon-pie-chart:before {
  content: "";
}

.icon-pied-piper:before {
  content: "";
}

.icon-pied-piper-alt:before {
  content: "";
}

.icon-pinterest:before {
  content: "";
}

.icon-pinterest-p:before {
  content: "";
}

.icon-pinterest-square:before {
  content: "";
}

.icon-plane:before {
  content: "";
}

.icon-play:before {
  content: "";
}

.icon-play-circle:before {
  content: "";
}

.icon-play-circle-o:before {
  content: "";
}

.icon-plug:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-plus-circle:before {
  content: "";
}

.icon-plus-square:before {
  content: "";
}

.icon-plus-square-o:before {
  content: "";
}

.icon-power-off:before {
  content: "";
}

.icon-print:before {
  content: "";
}

.icon-puzzle-piece:before {
  content: "";
}

.icon-qq:before {
  content: "";
}

.icon-qrcode:before {
  content: "";
}

.icon-question:before {
  content: "";
}

.icon-question-circle:before {
  content: "";
}

.icon-quote-left:before {
  content: "";
}

.icon-quote-right:before {
  content: "";
}

.icon-random:before {
  content: "";
}

.icon-rebel:before {
  content: "";
}

.icon-recycle:before {
  content: "";
}

.icon-reddit:before {
  content: "";
}

.icon-reddit-square:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-registered:before {
  content: "";
}

.icon-renren:before {
  content: "";
}

.icon-repeat:before {
  content: "";
}

.icon-reply:before {
  content: "";
}

.icon-reply-all:before {
  content: "";
}

.icon-retweet:before {
  content: "";
}

.icon-road:before {
  content: "";
}

.icon-rocket:before {
  content: "";
}

.icon-rss:before {
  content: "";
}

.icon-rss-square:before {
  content: "";
}

.icon-rub:before {
  content: "";
}

.icon-safari:before {
  content: "";
}

.icon-scissors:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-search-minus:before {
  content: "";
}

.icon-search-plus:before {
  content: "";
}

.icon-sellsy:before {
  content: "";
}

.icon-server:before {
  content: "";
}

.icon-share:before {
  content: "";
}

.icon-share-alt:before {
  content: "";
}

.icon-share-alt-square:before {
  content: "";
}

.icon-share-square:before {
  content: "";
}

.icon-share-square-o:before {
  content: "";
}

.icon-shield:before {
  content: "";
}

.icon-ship:before {
  content: "";
}

.icon-shirtsinbulk:before {
  content: "";
}

.icon-shopping-cart:before {
  content: "";
}

.icon-sign-in:before {
  content: "";
}

.icon-sign-out:before {
  content: "";
}

.icon-signal:before {
  content: "";
}

.icon-simplybuilt:before {
  content: "";
}

.icon-sitemap:before {
  content: "";
}

.icon-skyatlas:before {
  content: "";
}

.icon-skype:before {
  content: "";
}

.icon-slack:before {
  content: "";
}

.icon-sliders:before {
  content: "";
}

.icon-slideshare:before {
  content: "";
}

.icon-smile-o:before {
  content: "";
}

.icon-sort:before {
  content: "";
}

.icon-sort-alpha-asc:before {
  content: "";
}

.icon-sort-alpha-desc:before {
  content: "";
}

.icon-sort-amount-asc:before {
  content: "";
}

.icon-sort-amount-desc:before {
  content: "";
}

.icon-sort-asc:before {
  content: "";
}

.icon-sort-desc:before {
  content: "";
}

.icon-sort-numeric-asc:before {
  content: "";
}

.icon-sort-numeric-desc:before {
  content: "";
}

.icon-soundcloud:before {
  content: "";
}

.icon-space-shuttle:before {
  content: "";
}

.icon-spinner:before {
  content: "";
}

.icon-spoon:before {
  content: "";
}

.icon-spotify:before {
  content: "";
}

.icon-square:before {
  content: "";
}

.icon-square-o:before {
  content: "";
}

.icon-stack-exchange:before {
  content: "";
}

.icon-stack-overflow:before {
  content: "";
}

.icon-star:before {
  content: "";
}

.icon-star-half:before {
  content: "";
}

.icon-star-half-o:before {
  content: "";
}

.icon-star-o:before {
  content: "";
}

.icon-steam:before {
  content: "";
}

.icon-steam-square:before {
  content: "";
}

.icon-step-backward:before {
  content: "";
}

.icon-step-forward:before {
  content: "";
}

.icon-stethoscope:before {
  content: "";
}

.icon-sticky-note:before {
  content: "";
}

.icon-sticky-note-o:before {
  content: "";
}

.icon-stop:before {
  content: "";
}

.icon-street-view:before {
  content: "";
}

.icon-strikethrough:before {
  content: "";
}

.icon-stumbleupon:before {
  content: "";
}

.icon-stumbleupon-circle:before {
  content: "";
}

.icon-subscript:before {
  content: "";
}

.icon-subway:before {
  content: "";
}

.icon-suitcase:before {
  content: "";
}

.icon-sun-o:before {
  content: "";
}

.icon-superscript:before {
  content: "";
}

.icon-table:before {
  content: "";
}

.icon-tablet:before {
  content: "";
}

.icon-tachometer:before {
  content: "";
}

.icon-tag:before {
  content: "";
}

.icon-tags:before {
  content: "";
}

.icon-tasks:before {
  content: "";
}

.icon-taxi:before {
  content: "";
}

.icon-television:before {
  content: "";
}

.icon-tencent-weibo:before {
  content: "";
}

.icon-terminal:before {
  content: "";
}

.icon-text-height:before {
  content: "";
}

.icon-text-width:before {
  content: "";
}

.icon-th:before {
  content: "";
}

.icon-th-large:before {
  content: "";
}

.icon-th-list:before {
  content: "";
}

.icon-thumb-tack:before {
  content: "";
}

.icon-thumbs-down:before {
  content: "";
}

.icon-thumbs-o-down:before {
  content: "";
}

.icon-thumbs-o-up:before {
  content: "";
}

.icon-thumbs-up:before {
  content: "";
}

.icon-ticket:before {
  content: "";
}

.icon-times:before {
  content: "";
}

.icon-times-circle:before {
  content: "";
}

.icon-times-circle-o:before {
  content: "";
}

.icon-tint:before {
  content: "";
}

.icon-toggle-off:before {
  content: "";
}

.icon-toggle-on:before {
  content: "";
}

.icon-trademark:before {
  content: "";
}

.icon-train:before {
  content: "";
}

.icon-transgender:before {
  content: "";
}

.icon-transgender-alt:before {
  content: "";
}

.icon-trash:before {
  content: "";
}

.icon-trash-o:before {
  content: "";
}

.icon-tree:before {
  content: "";
}

.icon-trello:before {
  content: "";
}

.icon-tripadvisor:before {
  content: "";
}

.icon-trophy:before {
  content: "";
}

.icon-truck:before {
  content: "";
}

.icon-try:before {
  content: "";
}

.icon-tty:before {
  content: "";
}

.icon-tumblr:before {
  content: "";
}

.icon-tumblr-square:before {
  content: "";
}

.icon-twitch:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-twitter-square:before {
  content: "";
}

.icon-umbrella:before {
  content: "";
}

.icon-underline:before {
  content: "";
}

.icon-undo:before {
  content: "";
}

.icon-university:before {
  content: "";
}

.icon-unlock:before {
  content: "";
}

.icon-unlock-alt:before {
  content: "";
}

.icon-upload:before {
  content: "";
}

.icon-usd:before {
  content: "";
}

.icon-user:before {
  content: "";
}

.icon-user-md:before {
  content: "";
}

.icon-user-plus:before {
  content: "";
}

.icon-user-secret:before {
  content: "";
}

.icon-user-times:before {
  content: "";
}

.icon-users:before {
  content: "";
}

.icon-venus:before {
  content: "";
}

.icon-venus-double:before {
  content: "";
}

.icon-venus-mars:before {
  content: "";
}

.icon-viacoin:before {
  content: "";
}

.icon-video-camera:before {
  content: "";
}

.icon-vimeo:before {
  content: "";
}

.icon-vimeo-square:before {
  content: "";
}

.icon-vine:before {
  content: "";
}

.icon-vk:before {
  content: "";
}

.icon-volume-down:before {
  content: "";
}

.icon-volume-off:before {
  content: "";
}

.icon-volume-up:before {
  content: "";
}

.icon-weibo:before {
  content: "";
}

.icon-weixin:before {
  content: "";
}

.icon-whatsapp:before {
  content: "";
}

.icon-wheelchair:before {
  content: "";
}

.icon-wifi:before {
  content: "";
}

.icon-wikipedia-w:before {
  content: "";
}

.icon-windows:before {
  content: "";
}

.icon-wordpress:before {
  content: "";
}

.icon-wrench:before {
  content: "";
}

.icon-xing:before {
  content: "";
}

.icon-xing-square:before {
  content: "";
}

.icon-y-combinator:before {
  content: "";
}

.icon-yahoo:before {
  content: "";
}

.icon-yelp:before {
  content: "";
}

.icon-youtube:before {
  content: "";
}

.icon-youtube-play:before {
  content: "";
}

.icon-youtube-square:before {
  content: "";
}

.icon-imob:before {
  content: "";
}

.icon-file-text-o:before {
  content: "";
}

.icon-list-1:before {
  content: "";
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  position: relative !important;
  top: 0.125em !important;
  margin-right: 0.4em !important;
}

.icon-notext:before {
  top: 0;
  margin-right: 0 !important;
}

@-webkit-keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bs-notify-fadeOut {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
select.bs-select-hidden,
.bootstrap-select > select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  width: 220px \0 ;
  /*IE9 and below*/
  vertical-align: middle;
}
.bootstrap-select > .dropdown-toggle {
  position: relative;
  width: 100%;
  text-align: right;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.bootstrap-select > .dropdown-toggle:after {
  margin-top: -1px;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #999;
}
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-success:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-danger:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-info:active, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder.btn-dark:active {
  color: rgba(255, 255, 255, 0.5);
}
.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
  z-index: 0 !important;
}
.bootstrap-select > select.mobile-device {
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
  z-index: 2 !important;
}
.has-error .bootstrap-select .dropdown-toggle, .error .bootstrap-select .dropdown-toggle, .bootstrap-select.is-invalid .dropdown-toggle, .was-validated .bootstrap-select select:invalid + .dropdown-toggle {
  border-color: #b94a48;
}
.bootstrap-select.is-valid .dropdown-toggle, .was-validated .bootstrap-select select:valid + .dropdown-toggle {
  border-color: #28a745;
}
.bootstrap-select.fit-width {
  width: auto !important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 220px;
}
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333333 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
  height: auto;
}
:not(.input-group) > .bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}
.bootstrap-select.form-control.input-group-btn {
  float: none;
  z-index: auto;
}
.form-inline .bootstrap-select, .form-inline .bootstrap-select.form-control:not([class*=col-]) {
  width: auto;
}
.bootstrap-select:not(.input-group-btn), .bootstrap-select[class*=col-] {
  float: none;
  display: inline-block;
  margin-left: 0;
}
.bootstrap-select.dropdown-menu-right, .bootstrap-select[class*=col-].dropdown-menu-right, .row .bootstrap-select[class*=col-].dropdown-menu-right {
  float: right;
}
.form-inline .bootstrap-select, .form-horizontal .bootstrap-select, .form-group .bootstrap-select {
  margin-bottom: 0;
}
.form-group-lg .bootstrap-select.form-control, .form-group-sm .bootstrap-select.form-control {
  padding: 0;
}
.form-group-lg .bootstrap-select.form-control .dropdown-toggle, .form-group-sm .bootstrap-select.form-control .dropdown-toggle {
  height: 100%;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}
.bootstrap-select.form-control-sm .dropdown-toggle, .bootstrap-select.form-control-lg .dropdown-toggle {
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
}
.bootstrap-select.form-control-sm .dropdown-toggle {
  padding: 0.25rem 0.5rem;
}
.bootstrap-select.form-control-lg .dropdown-toggle {
  padding: 0.5rem 1rem;
}
.form-inline .bootstrap-select .form-control {
  width: 100%;
}
.bootstrap-select.disabled,
.bootstrap-select > .disabled {
  cursor: not-allowed;
}
.bootstrap-select.disabled:focus,
.bootstrap-select > .disabled:focus {
  outline: none !important;
}
.bootstrap-select.bs-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 0 !important;
  padding: 0 !important;
}
.bootstrap-select.bs-container .dropdown-menu {
  z-index: 1060;
}
.bootstrap-select .dropdown-toggle .filter-option {
  position: static;
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  width: 100%;
  text-align: left;
  overflow: hidden;
  flex: 0 1 auto;
}
.bs3.bootstrap-select .dropdown-toggle .filter-option {
  padding-right: inherit;
}

.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option {
  position: absolute;
  padding-top: inherit;
  padding-bottom: inherit;
  padding-left: inherit;
  float: none;
}
.input-group .bs3-has-addon.bootstrap-select .dropdown-toggle .filter-option .filter-option-inner {
  padding-right: inherit;
}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  overflow: hidden;
}
.bootstrap-select .dropdown-toggle .filter-expand {
  width: 0 !important;
  float: left;
  opacity: 0 !important;
  overflow: hidden;
}
.bootstrap-select .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}
.input-group .bootstrap-select.form-control .dropdown-toggle {
  border-radius: inherit;
}
.bootstrap-select[class*=col-] .dropdown-toggle {
  width: 100%;
}
.bootstrap-select .dropdown-menu {
  min-width: 100%;
  box-sizing: border-box;
}
.bootstrap-select .dropdown-menu > .inner:focus {
  outline: none !important;
}
.bootstrap-select .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
}
.bootstrap-select .dropdown-menu li {
  position: relative;
}
.bootstrap-select .dropdown-menu li.active small {
  color: rgba(255, 255, 255, 0.5) !important;
}
.bootstrap-select .dropdown-menu li.disabled a {
  cursor: not-allowed;
}
.bootstrap-select .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bootstrap-select .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}
.bootstrap-select .dropdown-menu li a span.check-mark {
  display: none;
}
.bootstrap-select .dropdown-menu li a span.text {
  display: inline-block;
}
.bootstrap-select .dropdown-menu li small {
  padding-left: 0.5em;
}
.bootstrap-select .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  margin: 0 2%;
  min-height: 26px;
  padding: 3px 5px;
  background: whitesmoke;
  border: 1px solid #e3e3e3;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
  opacity: 0.9;
  box-sizing: border-box;
}
.bootstrap-select .dropdown-menu .notify.fadeOut {
  -webkit-animation: 300ms linear 750ms forwards bs-notify-fadeOut;
          animation: 300ms linear 750ms forwards bs-notify-fadeOut;
}
.bootstrap-select .no-results {
  padding: 3px;
  background: #f5f5f5;
  margin: 0 5px;
  white-space: nowrap;
}
.bootstrap-select.fit-width .dropdown-toggle .filter-option {
  position: static;
  display: inline;
  padding: 0;
}
.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner,
.bootstrap-select.fit-width .dropdown-toggle .filter-option-inner-inner {
  display: inline;
}
.bootstrap-select.fit-width .dropdown-toggle .bs-caret:before {
  content: " ";
}
.bootstrap-select.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}
.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5px;
}
.bootstrap-select.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}
.bootstrap-select .bs-ok-default:after {
  content: "";
  display: block;
  width: 0.5em;
  height: 1em;
  border-style: solid;
  border-width: 0 0.26em 0.26em 0;
  transform-style: preserve-3d;
  transform: rotate(45deg);
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle, .bootstrap-select.show-menu-arrow.show > .dropdown-toggle {
  z-index: 1061;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:before {
  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle .filter-option:after {
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:before {
  bottom: auto;
  top: -4px;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle .filter-option:after {
  bottom: auto;
  top: -4px;
  border-top: 6px solid white;
  border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:before {
  right: 12px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle .filter-option:after {
  right: 13px;
  left: auto;
}
.bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle .filter-option:after, .bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:before, .bootstrap-select.show-menu-arrow.show > .dropdown-toggle .filter-option:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
  box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
  box-sizing: border-box;
}
.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}
.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #f25955;
}

.bootstrap-select > select.mobile-device:focus + .dropdown-toggle, .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  color: #f25955;
}

.main_header .header_bar i {
  font-size: 1.6em;
}
.main_header .header_bar p {
  font-size: 0.875em;
}

.main_slide {
  background-image: url("../../assets/images/front1.jpg");
  background-position: center 65%;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 532px;
}
.main_slide .main_slide_content {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 100;
  color: #fff;
}

.main_list_group .main_list_group_items .main_list_group_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_list_group .main_list_group_items .main_list_group_item a {
  flex-basis: 100%;
  min-height: 200px;
  color: #ffffff;
  font-size: 1.2em;
  transition: 0.2s;
}
.main_list_group .main_list_group_items .main_list_group_item a:hover {
  text-decoration: none;
  font-size: 1.3em;
}
.main_list_group .main_list_group_items .main_list_group_item a div {
  flex-basis: 100%;
  min-height: 200px;
}
.main_list_group .main_list_group_items .main_list_group_item a div h2 {
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
}

.main_contact form {
  max-width: calc( 100% - 40px);
  width: 600px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.main_contact form h2 {
  font-size: 1.2em;
}
.main_contact form textarea {
  height: 150px;
}

.main_contact_type h2 {
  font-size: 1.4em;
}
.main_contact_type p {
  font-size: 0.875em;
}

.main_property_content .main_property_content_price .small {
  margin: 20px 0 0;
  font-size: 0.675em;
}
.main_property_content .main_property_content_structure span {
  padding: 6px 12px;
  margin: 10px 0 0 15px;
  background-color: #36ba9b;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #2d9a81;
  color: #ffffff;
}
.main_property_content form {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.main_property_content form h2 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  margin-top: 15px;
  padding: 25px;
  font-size: 1.3em;
  font-weight: bolder;
}
.main_property_content form .form-group {
  padding: 10px 20px;
}
.main_property_content form .form-control {
  margin: 0;
}
.main_property_content form label {
  margin: 0;
}

.main_footer h1 {
  font-size: 1.4em;
  border-bottom: 1px solid #ccc;
  font-weight: bolder;
}
.main_footer ul {
  padding-left: 0;
}
.main_footer ul li {
  list-style: none;
  margin-bottom: 4px;
}
.main_footer ul li a {
  color: #665;
}

.main_copyright p {
  font-size: 0.775em;
}

.img-responsive-16by9 {
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.main_properties h2 {
  font-size: 1.3em;
  margin-top: 10px;
}
.main_properties h2 a {
  text-decoration: none;
  font-weight: bold;
}
.main_properties .main_properties_item_category {
  margin-bottom: 0;
}
.main_properties .main_properties_item_type {
  font-size: 0.875em;
  color: #665;
}
.main_properties .main_properties_item_price {
  font-size: 1.5em;
  font-weight: bold;
}
.main_properties .main_properties_item_features {
  border-bottom: 0;
  margin: 0 auto;
}
.main_properties .main_properties_item_features img {
  width: 40px;
}
.main_properties .main_properties_item_features p {
  font-size: 0.875em;
  margin-top: 10px;
  margin-bottom: 0;
}

.carousel-item img {
  height: 350px;
}

.main_optin {
  text-align: center;
}
.main_optin h1 {
  display: block;
  text-align: center;
  font-size: 1.8em;
  font-weight: bolder;
  margin: 0 auto 20px;
}
.main_optin p {
  margin: 0 auto 20px;
}
.main_optin form input {
  margin-bottom: 10px;
}
.main_optin form button {
  width: 100%;
}
